<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviar Proposta</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

<!--Import materialize.min.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
	
<!-- Adicionando JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
	type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
	rel="stylesheet" type="text/css">

</head>
<body>

	<div class="row">
		<div class="col 12">
			<h1>Tela de Envio de Proposta</h1>
			<a class="waves-effect waves-light btn" href="/">Retornar ao Menu</a>
			<a class="waves-effect waves-light btn" href="/logout">Sair do Sistema</a>
		</div>
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<hr />
		</div>
	</div>

	<br />

	<div class="row">
		<form action="salvarproposta" id="formprosposta" method="post"
			th:object="${propostaobj}" class="col s12" onsubmit="return validarCampos()? true : false">
			<!-- post igual como foi mapeado -->

			<div class="row">
				<div class="input-field col s2">
					<label for="id" class="active">ID: </label> <input name="id"
						th:field="*{id}" id="id" readonly="readonly" class="validate">
				</div>
				<div class="input-field col s6">
					<label for="nome_aluno" class="active"> Nome do Aluno: </label> <input name="nome_aluno"
						th:field="*{nome_aluno}" id="nome_aluno" class="validate">
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<label for="descricao" class="active"> Descrição: </label> <input
						name="descricao" th:field="*{descricao}" id="descricao"
						class="validate">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<label for="titulo" class="active"> Título: </label> <input
						name="titulo" th:field="*{titulo}" id="titulo"
						class="validate">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<label for="turma" class="active"> Turma: </label> <input
						name="turma" th:field="*{turma}" id="turma"
						class="validate">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<label for="status" class="active"> Status: </label> <input
						name="status" th:field="*{status}" id="status"
						class="validate">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<label for="professor" class="active"> Professor: </label> <input
						name="professor" th:field="*{professor}" id="professor"
						class="validate">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<label for="data_criacao" class="active"> Data Criação: </label> <input
						type="date" name="data_criacao" th:field="*{data_criacao}" id="data_criacao">
				</div>
			</div>
			
			

			<div class="row">
				<div class="input-field col s6">
					<input class="waves-effect waves-light btn" type="submit"
						value="Salvar"> <a class="waves-effect waves-light btn"
						href="/cadastro_proposta"> Cancelar </a>
				</div>
			</div>

		</form>
	</div>

	<br />
	<br />

	<div class="row">
		<form action="pesquisarprop" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<label for="titulopesquisa" class="active"> Pesquisar por
						título: </label> <input name="titulopesquisa" id="titulopesquisa"
						class="validate"> <input
						class="waves-effect waves-light btn" type="submit"
						value="Pesquisar"> <a class="waves-effect waves-light btn"
						href="/listapropostas"> Lista de Propostas </a>
				</div>
			</div>
		</form>
	</div>

	<table class="striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Título</th>
				<th>Descricao</th>
				<th>Editar</th>
				<th>Excluir</th>
			</tr>
		</thead>

		<tr th:each="proposta : ${propostas}">

			<td th:text="${proposta.id}"></td>
			<td th:text="${proposta.titulo}"></td>
			<td th:text="${proposta.descricao}"></td>
			<td><a
				th:href="@{/editarprop/{idprop}(idprop=${proposta.id})}">
					Editar </a></td>
			<td><a
				th:href="@{/removerprop/{idprop}(idprop=${proposta.id})}">
					Excluir </a></td>
		</tr>

	</table>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

	<script type="text/javascript">

	function validarCampos(){

		titulo = document.getElementById('titulo').value;
		descricao = document.getElementById('descricao').value;

		if(titulo === ''){

			alert('O título deve ser informado.');
			return false;
		}

		else if(descricao === '') {

			alert('A Descrição deve ser informada.');
			return false;
		}

		return true;
	}

	</script>

</body>
</html>