<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

<!--Import materialize.min.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

</head>

</head>
<body>

	<h1>Sistema de Gerenciamento de Documentos</h1>

	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix" style="color: brown;">exit_to_app</i> 
			<label for="icon_prefix"> 
				<a href="/logout">Sair do Sistema </a>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<hr />
		</div>
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix" style="color: #FA0101;">library_add</i> 
			<label for="icon_prefix"> 
				<a href="/cadastroarea_con">Cadastrar Area de Conhecimento </a>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix" style="color: #FA0101;">question_answer</i> 
			<label for="icon_prefix"> 
				<a href="/cadastro_proposta">Cadastrar Proposta de TCC </a>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix" style="color: #FA0101;">question_answer</i> 
			<label for="icon_prefix"> 
				<a href="/cadastrofaq">Cadastrar Perguntas Frequentes </a>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix" style="color: green;">person_add</i> 
			<label for="icon_prefix"> 
				<a href="">Cadastrar Aluno </a>
			</label>
	</div>
		
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix" style="color: green;">person_add</i> 
			<label for="icon_prefix"> 
				<a href="/cadastro_professor">Cadastrar Professor </a>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix" style="color: #AEA1A8;">announcement</i> 
			<label for="icon_prefix"> 
				<a href="/cadastro_status">Cadastrar Status </a>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix" style="color: #F57B02;">list</i> 
			<label for="icon_prefix"> 
				<a href="/todas_propostas"> Lista de Propostas </a>
			</label>
		</div>
	</div>
	
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>